    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container" align="center">
  <div class="navbar navbar-fixed-top ">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar">#Home</span>
                <span class="icon-bar">#Property Rentals</span>
                <span class="icon-bar">#About</span>
  </button>
  <div>
      <a class="navbar-brand" href="http://thorntonpmc.com">
    <img src="/assets/images/header-image_logo.png" height="100" class="d-inline-block align-top" alt="Thornton Properties">
  </a>
      </div>
        <div class="navbar-collapse collapse" id=".navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="http://thorntonpmc.com">HOME<span></span><span></span><span>|</span></a>
                </li>
                <li>
                    <a href="http://thorntonpmc.com" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PROPERTY RENTALS<span></span><span></span><span>|</span></a>
                    <ul class="dropdown-menu" role="menu" id="myTab">
                        <li><a href="http://thorntonpmc.com/commercial.html">Commercial Rentals</a></li>
                        <li><a href="http://thorntonpmc.com/residential.html">Residential Rentals</a></li>
                        <li><a href="http://thorntonpmc.com/vacation.html">Vacation Rentals</a></li>
                        <li><a href="http://www.mountainlakesrealestate.net/">Properties for Sale</a></li>
                    </ul>
                </li>
                <li>
                    <a href="http://thorntonpmc.com/about.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ABOUT<span></span><span></span><span>|</span></a>
                    <ul class="dropdown-menu" role="menu" id="myTab">
                        <li><a href="http://thorntonpmc.com/services.html">Our Services</a></li>
                        <li><a href="http://thorntonpmc.com/team.html">Our Team</a></li>
                        <li><a href="http://thorntonpmc.com/">Links and Info</a></li>
                    </ul>
                </li>
            </ul>
  
            <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
            </nav>
        </div>
    </div>
    
    </div>
</nav>